/**
 * Photo Grid
 * --------------------------
 */
.photo-grid {
  @include flex();
  @include flex-wrap();
  @include flex-center();

  .photo {
    position: relative;
    margin: 2px;
    width: 150px;
    height: 150px;
    opacity: .85;
    background: #F2F2F2;
    @include transition(opacity .3s linear);
    @include user-select(none);
  }

  figure { height: 100%; }

  .photo:hover {
    opacity: 1;
    cursor: zoom-in;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

/**
 * Photo View
 * --------------------------
 */
.photo-view-open {
  overflow: hidden;
}

.photo-view-backdrop,
.photo-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include user-select(none);
}

.photo-view-backdrop {
  z-index: 10;
  background: rgba(255, 251, 254, 0.9);
}

.photo-view {
  z-index: 11;
  padding: 10px;

  .inner {
    height: 100%;
  }

  figure {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  img {
    max-width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: zoom-out;
    box-shadow: 0 0 5px 0 rgba(158, 158, 158, 0.35);
  }

  figcaption {
    font-size: .925rem;
    padding: 9px 0;
    text-align: center;
    @include user-select(initial);
  }

  button {
    position: absolute;
    top: calc(50% - 40px);
    height: 80px;
    width: 80px;
    opacity: .8;
    @include transition(opacity .3s linear);

    &:hover { opacity: 1; }
  }

  .prev {
    left: 15%;
    &:after { @include left-triangle(); }
  }

  .next {
    right: 15%;
    &:before { @include right-triangle(); }
  }
}
